* {
  padding: 0;
  margin: 0;
}

body {
  background: #191210;
}

.body {
  width: 300px;
  aspect-ratio: 1 / 1;
  position: absolute;
  inset: 0;
  margin: auto;
  animation-name: inf;
  animation-duration: 3000ms;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-direction: normal;
  animation-timing-function: linear;
}

.eye {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #84271c;
  border: 25px solid #191210;
  box-shadow: 0 0 0 20px #eca03d;
}

.eye::before,
.eye::after {
  content: "";
  display: block;
  width: 60px;
  height: 30px;
  border: 20px solid #eca03d;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom: 0;
  position: absolute;
  top: 50%;
  left: 50%;
}

.eye::before {
  transform: translate(-149.8%) rotate(180deg);
}

.eye::after {
  transform: translate(50%, -100%);
}

@keyframes inf {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
